@font-face {
    font-family: 'mainFont';
    src: url("fonts/Norse-Bold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

div.images {
    background-image: url("images/background-img.jpeg");
    background-size: cover;
    background-position: center center;
    width: 50vw;
    text-align: center;
}

img {
    height: 150px;
    width: auto;
}

p {
    margin: 0;
}

div.logo {
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
    padding: 10px;
    font-family: 'mainFont', sans-serif;
}

p.attribution,
p.company-name{
    color: white;
    align-content: center;
}

p.attribution {
    width: inherit;
    text-align: center;
    position: absolute;
    bottom: 9px;
    font-size: 13px;
    opacity: .7;
}

p.company-name {
    font-size: 100px;
    padding: 0;
    margin: 20px 0 0 0;
}

a {
    color: white;
}

div.content{
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.mission-statement,
div.sign-up-form {
    padding-bottom: 3vh;
}

div.mission-statement,
div.sign-up-form,
div.submit-form
{
    padding-left: 40px;
    padding-top: 3vh;
}

div.mission-statement,
div.submit-form {
    background-color: whitesmoke;
    height: 30vh;
}

div.mission-statement {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

div.mission-statement > p + p {
    margin-top: 30px;
}

div.group {
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-bottom: 20px;
}

label {
    font-size: 10px;
    letter-spacing: 2px;
}

input {
    width: 15vw;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
    height: 20px;
    padding-left: 10px;
}

div.sign-up-form {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, .3);
    height: 40vh;
    margin-bottom: 7px;
    padding-bottom: 10px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    margin: 0 0 30px 0;
}

button {
    background-color: #596D48;
    height: 40px;
    width: 200px;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, .1);
    margin-bottom: 30px;
}

span {
    color: #596D48;
    font-weight: bold;
}

.error {
    border: 1px solid rgba(150, 0, 0, .7);
}

p.invalid-password {
    font-size: 10px;
    color: rgba(150, 0, 0, .7);
}