@font-face {
    font-family: 'mainFont';
    src: url("fonts/Norse-Bold.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: sans-serif;
    display: flex;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
}

div.images {
    background-image: url("images/background-img.jpeg");
    width: 45vw;
    text-align: center;
}

img {
    height: 150px;
    width: auto;
}

p {
    margin: 0;
}

div.logo {
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 25vh;
    padding: 10px;
    font-family: 'mainFont', sans-serif;
}

p.attribution,
p.company-name{
    color: white;
    align-content: center;
}

p.attribution {
    width: inherit;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: 10px;
}

p.company-name {
    font-size: 100px;
    padding: 0;
    margin: 20px 0 0 0;
}

a {
    color: white;
}

div.content{
    width: 55vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

div.mission-statement,
div.sign-up-form,
div.submit-form {
    padding: 40px;
}

div.mission-statement,
div.submit-form {
    background-color: whitesmoke;
    height: 30vh;
}

div.mission-statement {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

div.mission-statement > p + p {
    margin-top: 30px;
}

div.sign-up-form {
    border-bottom: 3px solid black;
    height: 40vh;
}

h1 {
    margin: 0 0 30px 0;
}